html,body {
    margin:0px;
    padding:0px;
    background-color:#335566;
    width:100%;
}

#main {
    position:relative;
}

#header {

    height:100%;
    height:auto;
    float:left;
    width:30%;
    margin:20px;
    border:5px solid #D9D926;
    background-color:#FFF;
}

#header li{

    list-style-type:none;
    line-height:1.5em;

}

#header h1{

    margin:0px;
    padding:20px;
    color:#FFF;
    background-color:#455C3D;
    background: -moz-linear-gradient(top,#455C3D,#739966);
    background: -webkit-gradient(linear,left top,left bottom,from(#455C3D), to(#739966));
    border-bottom:5px solid #D9D926;
}

#sanka_list h2,#header h2{
    color:#FFF;
    background-color:#66998C;
    border-top   :5px solid #D9D926;
    border-bottom:5px solid #D9D926;
    margin:0px;
    padding:5px;
}
#header p{
    padding:5px;
    line-height:1.2em;

}
#header form{

    margin:30px;

}

#header ul.menu li{

    display:inline;

}

#header ul.menu li a{
    border:1px solid #66998C;
    background-color: #DCF0EB;
    padding:10px;

}

#header ul.users li{
    border-bottom:2px solid #DDD; 
}

#sanka_list ul.users li span.leader{
    color:#737326;
    background-color:#FFC;
    font-weight:bold;
}

#sanka_list ul.users li span.spy{
    color:#733926;
    background-color:#F0BAA8;
    font-weight:bold;
}

#sanka_list ul.users li span.team{
    font-weight:bold;
}

#sucess{
    padding:10px;
    background-color:#C04040;
    color:#FFF;
    font-size:1.5em;
    border-bottom:2px solid #C04040;
}

#falsed{
    padding:10px;
    background-color:#4080C0;
    color:#FFF;
    font-size:1.5em;
    border-bottom:2px solid #4080C0;
}


#log{
    height:100%;
    height:auto;
    background-color:#EEE;
    margin-left:30%;
    margin-right:20px;
    border-right:5px solid #A3C2BA;
    border-left:5px solid #A3C2BA;
    padding-bottom:20px;
    border-bottom:5px solid #A3C2BA;
}

#log h2{
    background-color:#4080C0;
    background: -moz-linear-gradient(top,#3080C0,#79A6D3);
    background: -webkit-gradient(linear,left top,left bottom,from(#3080C0), to(#79A6D3));
    color:#FFF;
    margin:0px;
    padding:5px;
    border-bottom:5px solid #A3C2BA;
}

#log li{
    padding:5px;
    list-style-type:none;
    line-height:1.5em;
    border-bottom:1px dotted #AAA;
}

#log form{
    margin:20px;
    margin-left:40px;
    width:80%;
    line-height:1.5em;
    padding:10px;
    border:1px dotted #AAA;
}

#log li.message,#header p.message{

    border:1px solid #3D545C;
    
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    
    margin-right:10px;

    font-weight: bold;

    background-color:#DCF0F0;
    background: -moz-linear-gradient(top,#DCF0F0,#FFFFFF);
    background: -webkit-gradient(linear,left top,left bottom,from(#DCF0F0),to(#FFFFFF));
    color:#3D545C;
    padding:5px;
}


#log li.warning{

    border:1px solid #5C3D3D;
    
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;

    margin-right:10px;

    font-weight: bold;

    background-color:#F0DCDC;
    background: -moz-linear-gradient(top,#F0DCDC,#FFFFFF);
    background: -webkit-gradient(linear,left top,left bottom,from(#F0DCDC), to(#FFFFFF));
    color:#5C3D3D;
    padding:5px;
}

span.name{
    margin-right:1em;
    font-weight: bold;
}

#sanka_list{
	border:5px solid #D9D926;
	position:absolute;
	background-color:white;
	margin:10px;
	margin-top:20px;
	right:0px;
	top:0px;

}

#sanka_list ul{
	list-style-type:none;
	line-height:1.5em;
	text-indent:0px;
}

#sanka_list ul li{
	text-indent:0px;
	padding:10px;
	border-bottom:2px solid #DDD;
}
