html, body {
  margin: 0px;
  padding: 0px;
  width: 100%; }

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #335566; }

#main {
  position: relative; }

#header {
  height: 100% auto;
  float: left;
  width: 30%;
  margin: 20px;
  border: 5px solid #d9d926;
  background-color: white; }
  #header li {
    list-style-type: none;
    line-height: 1.5em; }
  #header h1 {
    margin: 0px;
    padding: 20px;
    color: white;
    background-color: #455c3d;
    background: -moz-linear-gradient(top, #455c3d, #739966);
    background: -webkit-gradient(linear, left top, left bottom, from(#455c3d), to(#739966));
    border-bottom: 5px solid #d9d926; }
  #header h3 {
    font-size: 85%;
    border-bottom: dashed 1px gray; }
  #header p.message {
    border: 1px solid #3d545c;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
    background: -moz-linear-gradient(top, #dcf0f0, white);
    background: -webkit-gradient(linear, left top, left bottom, from(#dcf0f0), to(white));
    background-color: #dcf0f0;
    color: #3d545c;
    padding: 5px; }
  #header div.vote {
    background-color: #e3e1eb;
    font-weight: bold;
    border-top: 1px solid #339999;
    border-bottom: 1px solid #339999; }
  #header #limit_timer {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    font-size: 200%;
    text-align: center; }
  #header .caption {
    text-align: center;
    font-size: 70%;
    margin: 0px;
    padding: 0px; }

#log {
  font-size: 85%;
  height: 100% auto;
  background-color: #eeeeee;
  margin-left: 35%;
  border: 5px solid #a3c2ba;
  padding-bottom: 20px; }
  #log h2 {
    background-color: #4080c0;
    background: -moz-linear-gradient(top, #3080c0, #79a6d3);
    background: -webkit-gradient(linear, left top, left bottom, from(#3080c0), to(#79a6d3));
    color: white;
    margin: 0px;
    padding: 5px;
    border-bottom: 5px solid #a3c3ba; }
  #log li {
    padding: 5px;
    list-style-type: none;
    line-height: 1.5em; }
  #log li.message {
    border: 1px solid #3d545c;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
    background: -moz-linear-gradient(top, #dcf0f0, white);
    background: -webkit-gradient(linear, left top, left bottom, from(#dcf0f0), to(white));
    background-color: #dcf0f0;
    color: #3d545c;
    padding: 5px; }
    #log li.message ul li.member {
      border-bottom: solid 1px #acb0b0; }
    #log li.message ul li h3 {
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      margin: 0px;
      margin-bottom: 12px;
      padding: 10px;
      color: white;
      background-color: #3d545c; }
  #log li.warning {
    border: 1px solid #5c3d3d;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
    background-color: #f0dcdc;
    background: -moz-linear-gradient(top, #f0dcdc, white);
    background: -webkit-gradient(linear, left top, left bottom, from(#f0dcdc), to(white));
    color: #5c3d3d;
    padding: 5px; }
  #log li.show_say span.name {
    font-weight: bold; }
  #log li.show_say p {
    margin: 0px;
    padding: 0px; }
  #log form {
    margin: 20px;
    margin-left: 40px;
    width: 80%;
    line-height: 1.5em;
    padding: 10px;
    border: 1px dotted #aaaaaa; }

#log_filter {
  padding: 0px;
  list-style-type: none;
  margin-top: 10px;
  margin-left: 35%;
  margin-bottom: 10px;
  background-color: #f0e1dc;
  border: 5px solid #cc6e66; }
  #log_filter h3 {
    background-color: #99ccaa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px; }
  #log_filter div.wrap_oneline {
    display: inline;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    list-style-type: none;
    line-height: 1.5em;
    text-indent: 1px; }
    #log_filter div.wrap_oneline li {
      display: inline;
      text-indent: 1px;
      padding: 10px; }
    #log_filter div.wrap_oneline h3 {
      display: inline; }
    #log_filter div.wrap_oneline ul {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
      padding: 0px;
      padding-bottom: 10px;
      border-bottom: 1px dashed #cc6e66; }
    #log_filter div.wrap_oneline li {
      padding: 0px;
      margin: 2px;
      display: outside; }
  #log_filter div.wrap_float {
    float: left; }

#sanka_list {
  border: 5px solid #a3c3ba;
  background-color: white;
  margin-top: 10px;
  margin-left: 35%;
  right: 0px;
  top: 0px; }
  #sanka_list h2 {
    color: white;
    background-color: #66998c;
    border-top: 5px solid #d9d926;
    border-bottom: 5px solid #d9d926;
    margin: 0px;
    padding: 0px;
    font-size: 110%; }
  #sanka_list h3 {
    margin: 0px;
    padding: 0px;
    font-size: 85%; }
  #sanka_list ul.users {
    display: inline;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    list-style-type: none;
    line-height: 1.5em;
    text-indent: 1px; }
    #sanka_list ul.users li {
      margin-left: 10px;
      margin-right: 10px; }
  #sanka_list div#elect_member {
    font-weight: bold;
    background-color: #ebe8e1;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #4cb3b3;
    border-bottom: 1px solid #4cb3b3; }
  #sanka_list div.wrap_oneline {
    border-bottom: 1px solid #a3c3ba;
    padding: 5px; }
    #sanka_list div.wrap_oneline ul {
      display: inline;
      margin: 0px;
      padding: 0px;
      font-size: 12px;
      list-style-type: none;
      line-height: 1.5em;
      text-indent: 1px; }
      #sanka_list div.wrap_oneline ul li {
        display: inline;
        text-indent: 1px;
        padding: 10px; }
      #sanka_list div.wrap_oneline ul li span.leader {
        color: #737326;
        background-color: #ffffcc;
        font-weight: bold; }
      #sanka_list div.wrap_oneline ul li span.team {
        font-weight: bold; }
      #sanka_list div.wrap_oneline ul li span.spy {
        color: #733926;
        background-color: #f0baa8;
        font-weight: bold; }
    #sanka_list div.wrap_oneline ul#mission_count {
      display: inline;
      margin: 0px;
      padding: 0px;
      font-size: 12px;
      list-style-type: none;
      line-height: 1.5em;
      text-indent: 1px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px; }
      #sanka_list div.wrap_oneline ul#mission_count li {
        display: inline;
        text-indent: 1px;
        padding: 10px; }
      #sanka_list div.wrap_oneline ul#mission_count li {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 3px;
        padding-bottom: 3px; }
      #sanka_list div.wrap_oneline ul#mission_count li#now_mission {
        background-color: #ff99cc;
        border: 1px solid #cc9966;
        font-weight: bold; }
  #sanka_list div.wrap_float ul {
    background-color: white;
    border: 2px solid #a3c3ba;
    padding: 0px;
    float: left;
    margin: 0px; }
    #sanka_list div.wrap_float ul li {
      list-style-position: outside;
      margin: 5px;
      padding: 0px; }
  #sanka_list div.wrap_float li {
    list-style-type: none; }
  #sanka_list .system_info {
    font-weight: bold;
    background-color: #83a39a;
    padding: 5px;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #sanka_list li.your_party span.spy {
    display: block;
    color: #733926;
    background-color: #f0baa8;
    font-weight: bold; }

#header h2 {
  color: white;
  background-color: #66998c;
  border-top: 5px solid #d9d926;
  border-bottom: 5px solid #d9d926;
  margin: 0px;
  padding: 0px; }
#header p {
  padding: 5px;
  line-height: 1.2em; }
#header form {
  margin: 30px; }
#header ul.menu li {
  display: inline; }
  #header ul.menu li a {
    border: 1px solid #66998c;
    background-color: #dcf0eb;
    padding: 10px; }
#header ul.users li {
  border-bottom: 2px solid #dddddd; }
#header span.warning {
  border: 1px solid #5c3d3d;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-right: 10px;
  font-weight: bold;
  background-color: #f0dcdc;
  background: -moz-linear-gradient(top, #f0dcdc, white);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0dcdc), to(white));
  color: #5c3d3d;
  padding: 5px; }

#history_list {
  padding: 0px;
  margin: 0px; }
  #history_list li.spy {
    background-color: #f07070;
    border: 2px solid #cc0000; }
    #history_list li.spy .name {
      border-bottom: 2px solid #cc0000; }
    #history_list li.spy ul li {
      border-bottom: 1px solid #ff3333; }
  #history_list li.registance {
    background-color: #70b0f0;
    border: 2px solid #003399; }
    #history_list li.registance .name {
      border-bottom: 2px solid #003399; }
    #history_list li.registance ul li {
      border-bottom: 1px solid #3366bb; }
  #history_list li {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-position: outside;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    #history_list li ul {
      padding: 0px;
      margin: 0px; }
      #history_list li ul li {
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        padding: 0px;
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        list-style-position: outside;
        font-size: 85%; }

#sucess {
  padding: 10px;
  background-color: #4080c0;
  color: white;
  font-size: 1.5em;
  border-bottom: 2px solid #4080c0; }

#falsed {
  padding: 10px;
  background-color: #c04040;
  color: white;
  font-size: 1.5em;
  border-bottom: 2px solid #c04040; }

div.sayitem {
  margin-right: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px; }
  div.sayitem p {
    padding-right: 10px;
    padding-left: 10px; }
  div.sayitem span {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 5px;
    padding-right: 0px; }
  div.sayitem span.log_name {
    color: white; }
  div.sayitem span.search_result {
    display: inline;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px; }

span.warning {
  display: block; }

.dialog {
  padding: 10px;
  background: #999999; }
  .dialog .name {
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #666666; }

div.black {
  background: -moz-linear-gradient(top, white, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background-color: white;
  border: 2px solid black;
  color: black; }
  div.black span.log_name {
    background-color: black; }

div.maroon {
  background: -moz-linear-gradient(top, white, #f0a8a8);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0a8a8));
  background-color: white;
  border: 2px solid maroon;
  color: maroon; }
  div.maroon span.log_name {
    background-color: maroon; }

div.purple {
  background: -moz-linear-gradient(top, white, #c0bbff);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c0bbff));
  background-color: white;
  border: 2px solid purple;
  color: purple; }
  div.purple span.log_name {
    background-color: purple; }

div.green {
  background: -moz-linear-gradient(top, white, #a8f0ba);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#a8f0ba));
  background-color: white;
  border: 2px solid green;
  color: green; }
  div.green span.log_name {
    background-color: green; }

div.olive {
  background: -moz-linear-gradient(top, white, #f0dea8);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0dea8));
  background-color: white;
  border: 2px solid olive;
  color: olive; }
  div.olive span.log_name {
    background-color: olive; }

div.navy {
  background: -moz-linear-gradient(top, white, #ddddff);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ddddff));
  background-color: white;
  border: 2px solid navy;
  color: navy; }
  div.navy span.log_name {
    background-color: navy; }

div.teal {
  background: -moz-linear-gradient(top, white, #aaf0d9);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#aaf0d9));
  background-color: white;
  border: 2px solid teal;
  color: teal; }
  div.teal span.log_name {
    background-color: teal; }

div.gray {
  background: -moz-linear-gradient(top, white, #f0f0f0);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f0f0));
  background-color: white;
  border: 2px solid gray;
  color: gray; }
  div.gray span.log_name {
    background-color: gray; }

div.fuchsia {
  background: -moz-linear-gradient(top, white, #ff99f9);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ff99f9));
  background-color: white;
  border: 2px solid fuchsia;
  color: fuchsia; }
  div.fuchsia span.log_name {
    background-color: fuchsia; }

div.orangered {
  background: -moz-linear-gradient(top, white, #ffac89);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffac89));
  background-color: white;
  border: 2px solid orangered;
  color: orangered; }
  div.orangered span.log_name {
    background-color: orangered; }

div.show_say {
  background: -moz-linear-gradient(top, #0a5c47, #0f8a6b);
  background: -webkit-gradient(linear, left top, left bottom, from(#0a5c47), to(#0f8a6b));
  background-color: white;
  border: 2px solid white;
  color: white;
  background-color: #0a5c47; }
  div.show_say span.log_name {
    background-color: white; }

.timestamp {
  display: block;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  background-color: transparent;
  font-size: 8px;
  text-align: right;
  color: #666666; }

.search_result {
  background-color: yellow;
  padding: 2px;
  font-weight: bold;
  display: inline; }
